{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <title>About</title>
        <link  rel="stylesheet" href="{% static 'style.css' %}">
        <link rel = "icon" href = "{% static 'logo.png' %}" type = "image/x-icon">
    </head>
    <body>
        
        <div class="title">
        <center><img class="logo" src="{% static 'logo.png' %}"></center>
            <h1 class="titlename">SPORTZNOTEBOOK</h1>
            <h4><a href="/">Login</a></h4>
            <h4><a href="/about">About</a></h4>
            <h4><a href="/report">Report</a></h4>
        </div>
        <h1 style="text-align: center;">About Us</h1>
        <center><img class="aboutimg" width=80% height="350" src="{% static 'aboutimg.jpg' %}"></center>
        <center><p class="abouttext" style="font-weight:bold;">Sportznotebook is platform to connect everyone for being awareness about the sporting coumminty and make them  fit. we as developer  provide them awarness  young genration to connect to all the national and internationl  level kinds event.                  
                 one nation with multiple sport!! we as organization we want young genration to connect with the 
                 from down level to international level so that they have more knowledge about there career and sporting life 
                 through event they connect easily with Internatioal level and passion in any sport they can enjoy easily
                 .with this community we can have  make culture of fitness they can long life and 
                 less people fall sick. our mission  is that  to want evenryone to be fit in India. so 
                 that we bring lots medals and cups in olpymic & sevral other tournament's mainly yooung 
                 genration to be get chance easily in every tournment. just with mission we starting this organization 
                 every one to connect all sports  to help  every young genration!</p></center>

    </body>
    </html>